* {
    /* nadjma hadi dima ndiroha */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background-color: #011c30;

}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10%;
    background-color: #022036;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    position: relative;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: fadeUp 2.5s ease forwards;
    /*hadi tkhali l3onsor ytl3 bchway llfo9 */

}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .1s;

}

.navbar a:hover {
    color: #0ef;
}

#Home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.image img {
    position: relative;
    border: 4px solid white;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 35px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 0 30px rgba(0, 298, 255, 0.5);
    bottom: 50px;
    left: 20px;
}

.Home_content {
    max-width: 600px;
}

.Home_content h3 {
    font-size: 32px;
    font-weight: 700;
}

.Home_content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.Home_content p {
    font-size: 20px;

}

#About {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 55px;
    scroll-margin-top: 80px;


}

.About_foto img {
    position: relative;
    border: 4px solid white;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 35px;
    width: 277px;
    height: 277px;
    object-fit: cover;
    box-shadow: 0 0 30px rgba(0, 238, 255, 0.5);
    top: 20px;

    left: 190px;
}

.About_text h2 {
    font-size: 60px;
}

.About_text h2 span {
    color: #0ef;
}

.About_text h4 {
    font-size: 35px;
    font-weight: 600;
    color: rgb(61, 118, 137);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.About_text p {
    color: azure;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 4rem;
}


#Skills {
    padding: 100px 0;
    background: linear-gradient(135deg, #081b29, #0a2536);
}


.container {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}


.my-skills {
    text-align: center;
    color: #ededed;
    font-size: 38px;
    margin-bottom: 60px;
}

.my-skills span {
    color: #00eeff;
}


.Technical_bars .bar {
    margin: 35px 0;
}

.bar i {
    font-size: 28px;
    margin-right: 12px;
}


.bar .info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.bar .info span {
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
}


.progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #02131c;
    border-radius: 50px;
    overflow: hidden;
}


.progress-line span {
    position: absolute;
    height: 100%;
    width: 0;
    border-radius: 50px;
    background: linear-gradient(90deg, #00eeff, #0ef);
    box-shadow: 0 0 10px #00eeff;
    animation: fillBar 2s ease forwards;
}


@keyframes fillBar {
    from {
        width: 0;
    }
}



.progress-line.html span {
    width: 75%;
}

.progress-line.css span {
    width: 65%;
}

.progress-line.js span {
    width: 35%;
}

.progress-line.php span {
    width: 45%;
}

.progress-line.mysql span {
    width: 70%;
}




.progress-line span::after {
    content: attr(data-percent);
    position: absolute;
    top: -32px;
    right: 0;
    background: #00eeff;
    color: #081b29;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: bold;
}

.progress-line span::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    border: 6px solid transparent;
    border-top-color: #00eeff;
}



.bar:hover .progress-line span {
    box-shadow: 0 0 20px #00eeff;
    transition: .3s;
}

#Projects {
    padding: 100px 10%;
    margin: 50px;
}

.P {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 65px;
}

.P span {
    color: #0ef;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}



.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    display: block;
    border-radius: 20px;
    transition: .5s;
}



.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #0ef);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white;

    opacity: 0;
    transition: .5s;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-card:hover .project-info {
    opacity: 1;
}

#Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 100px 10%;
    margin-top: 50px;


}

.contact {
    font-size: 40px;
    line-height: 1;
    text-align: center;
    margin-top: 45px;
    top: 200px;

}

.contact span {
    color: #0ef;
}

.contact h3 {
    margin: 15px 0;
    color: rgb(69, 155, 188);
    font-size: 30px;
    font-weight: 600;

}

.Contact-list {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.contact-list li {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 3rem;
    display: block;
    font-size: 25px;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 30px;
    font-weight: 600;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;

}

@keyframes fadeUp {

    /* hadi sinaryo ta3 haraka ta3 logo */
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}